name: Clasp_push
on: [push]
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.7]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm init -y
      - run: npm install -g @google/clasp
      - run: bash entrypoint.sh ${{secrets.ACCESSTOKEN }}, ${{ secrets.IDTOKEN }}, 
                                ${{ secrets.REFRESHTOKEN }}, ${{ secrets.CLIENTID }}, 
                                ${{ secrets.CLIENTSECRET }}, ${{ secrets.SCRIPTID }}, 
                                ${{ secrets.ROOTDIR }}
      - run: clasp open ${{ secrets.SCRIPTID }}
      - run: clasp push -f
      



