name: Clasp_push
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    using: 'docker'
    image: 'Dockerfile'
     args:
        - ${{ secrets.ACCESSTOKEN }}
        - ${{ secrets.IDTOKEN }}
        - ${{ secrets.REFRESHTOKEN }}
        - ${{ secrets.CLIENTID }}
        - ${{ secrets.CLIENTSECRET }}
        - ${{ secrets.SCRIPTID }}
        - ${{ secrets.ROOTDIR }}
        - 'push'
        - 'Sample description'
        - ${{ secrets.DEPLOYID }}

