name: Clasp Action
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
  # DEPLOY
    - uses: daikikatsuragawa/clasp-action@v1.1.0
      with:
        accessToken: ${{ secrets.ACCESS_TOKEN }}
        idToken: ${{ secrets.ID_TOKEN }}
        refreshToken: ${{ secrets.REFRESH_TOKEN }}
        clientId: ${{ secrets.CLIENT_ID }}
        clientSecret: ${{ secrets.CLIENT_SECRET }}
        scriptId: ${{ secrets.SCRIPT_ID }}
        command: 'deploy'
        description: 'Sample description'
        deployId: ${{ secrets.DEPLOY_ID }}

